* {
    margin: 0;
    padding: 0;
}

h1, h3{
  text-transform: uppercase;
  font-weight: normal;
}

.tabs{
    width: 600px;
    display: block;
    margin: 10px auto;
    position: absolute;
}

.tabs .tab{
    float: left;
    display: block;
}

.tabs .tab>input[type="radio"] {
    position: absolute;
  
}

.tabs .tab>label {
    
    display: block;
    padding: 6px 21px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    color: #FFF;
    background: #4A83FD;
}

.tabs .content {
    z-index: 0;/* or display: none; */
    overflow: hidden;
    width: 900px;
    padding: 25px;
    position: absolute;
    top: 27px;
    left: 0;
    background: white;
    color:black;
    
    opacity:0;
    transition: opacity 400ms;
}

.tabs>.tab>[id^="tab"]:checked + label {
    top: 0;
    background: #303030;
    color: grey;
}

.tabs>.tab>[id^="tab"]:checked ~ [id^="tab-content"] {
    z-index: 1;/* or display: block; */
   
    opacity: 1;
    transition: opacity 400ms ease-out;
}
.modal {
    display: none;
    position: bottom;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    
    opacity: 1;
    transition: opacity 400ms ease-out;
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 35%; 
    height: 35%;
}

.close {
    position: right;
    right: 1px;
    top: 15px;
    color: red;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: blue;
    cursor: pointer;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   
    width: 270px;
    height:230px;
    margin: auto;
    text-align: center;
    font-family: arial;
   
     
  }
  
  .title {
    color: grey;
    font-size: 18px;
    color: blue;
  }
  
#b {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:grey;
    text-align: center;
    
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {

    text-decoration: none;
    font-size: 22px;
    color: blue;
  }
  
  #b:hover, a:hover {
    opacity: 0.7;
  }
  
